<p id="notice"><%= notice %></p>

<p>
  <strong>Entree:</strong>
  <%= @lunch.entree.capitalize %>
</p>

<p>
  <strong>Sideone:</strong>
  <%= @lunch.sideOne.capitalize %>
</p>

<p>
  <strong>Sidetwo:</strong>
  <%= @lunch.sideTwo.capitalize %>
</p>

<p>
  <strong>Meal Cost:</strong>
  <%= @mealCost %>
</p>

<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
