<p id="notice"><%= notice %></p>

<p>
  <strong>Entree Choice:</strong>
  <%= @breakfast.entree.capitalize %>
</p>

<p>
  <strong>Sideone Choice:</strong>
  <%= @breakfast.sideOne.capitalize %>
</p>

<p>
  <strong>Sidetwo Choice:</strong>
  <%= @breakfast.sideTwo.capitalize %>
</p>

<p>
  <strong>Meal Cost:</strong>
  <%= @mealCost %>
</p>


<%= link_to 'Edit', edit_breakfast_path(@breakfast) %> |
<%= link_to 'Back', breakfasts_path %>
