<p id="notice"><%= notice %></p>

<p>
  <strong>Entree:</strong>
  <%= @dinner.entree.capitalize %>
</p>

<p>
  <strong>Sideone:</strong>
  <%= @dinner.sideOne.capitalize %>
</p>

<p>
  <strong>Sidetwo:</strong>
  <%= @dinner.sideTwo.capitalize %>
</p>

<p>
  <strong>Meal Cost:</strong>
  <%= @mealCost %>
</p>

<%= link_to 'Edit', edit_dinner_path(@dinner) %> |
<%= link_to 'Back', dinners_path %>
